= render 'shared/flash'
#account-page.account-page
  .header
    .booklog-icon
      = image_tag "img_booklog.png"
  .account-page__body
    = form_for(resource, as: resource_name, url: registration_path(resource_name),html: {class: 'body'}) do |f|
      .body__top
        .body__top__header
          %h1 ブクログの新規登録
          %p
            ブクログをはじめる方法は2つあります。
            %br
            どちらもコーヒーを淹れている間（5分くらい）でできます。もちろん、無料です。
        .body__top__footer
          %h2 SNSアカウントでブクログを始める
          %ul.social-network
            %li
              = link_to "twitterで新規登録", "", class:"fa fa-twitter twitter"
            %li
              = link_to "facebookで新規登録", "", class:"fa fa-facebook-official facebook"

      .body__middle
        %h2 メールアドレスでブクログを始める。
        .body-wrapper
          .body__middle__id
            .left-content
              %h5 ニックネーム
            .right-content
              = f.text_field :nickname ,class:"registration-info"
              %ul.id-condition
                %li 半角英数小文字 3 ~ 16 文字

          .body__middle__password
            .body__middle__password__left-content
            .left-content
              %h5 パスワード
            .body__middle__password__right-content
            .right-content
              = f.password_field :password, autocomplete: "off",class:"registration-info"
              %ul.password-condition
                %li 半角英数・記号5～16文字

          .body__middle__comment
            .p 性別・生年月日はプロフィールとして公開いたします。
            %br ※登録後に公開設定を変更することが可能です。なお、ログイン情報を忘れてしまった場合、下記の情報で本人確認を行うため正しく入力してください。

          .body__middle__e-mail
            .left-content
              %h5 メールアドレス
            .body__middle__e-mail__right-content
            .right-content
              = f.email_field :email, class:"registration-info", placeholder: "連絡な可能なメールアドレス"

          .body__middle__gender
            .body__middle__gender__left-content
            .left-content
              %h5 性別
            .body__middle__gender__right-content
            .right-content
              = f.radio_button :gender,1 ,class: "checkbox-gender"
              %label.gender 男性

              = f.radio_button :gender,2 ,class: "checkbox-gender"
              %label.gender 女性

          .body__middle__birth-day
            .body__middle__birth-day__left-content
            .left-content
              %h5 誕生日
            .body__middle__birth-day__right-content
            .right-content
              = f.date_select :birth_date, {use_month_numbers: true, start_year: 1901, end_year: Time.now.year}

      .body__under
        .body__under__terms-condition
          %span
          = link_to "ブクログの利用規約", "", class:"link-condition"
          %span.link-text をお読みいただき、確認ページにお進みください。
        .body__under__blue-btn
          = f.submit "規約に同意して確認ページに進む"

    .account-page__footer
      %ul
        %a
        = link_to "WEB本棚サービスブクログ"
        %a
        |
        = link_to "新規登録"
        %a
        |
        = link_to "ブクログについて"
        %a
        |
        = link_to "ブクログ特集"
        %a
        |
        = link_to "お知らせブログ"
        %a
        |
        = link_to "お問い合わせ"

      %p Copyright © 2017 Booklog,Inc. All Rights Reserved.
