= render 'shared/header'
.body.my_books

  .wrapper.main-page
    %ul.breadcrumbs
      %li.breadcrumbs__home
        %a{href:""} 仮
      %li.breadcrumbs__home
        %a{href:""} > 仮
      %li.breadcrumbs__current-page
        >  仮です

    .profile-wrapper.user-header
      .profile-wrapper__menu
        - if @user.avatar.present?
          = image_tag @user.avatar,class:"profile-wrapper__menu__image"
        - else
          = image_tag "user-icon.png",class:"profile-wrapper__menu__image"
        %ul.profile-wrapper__menu__list
          %li.profile-wrapper__menu__list-book
            = link_to "", "", class:"fa fa-book"
          %li.profile-wrapper__menu__list-timeline
            = link_to "", "", class:"fa fa-clock-o"
        %ul.profile-wrapper__menu__list
          %li.profile-wrapper__menu__list-user
            = link_to "", "", class:"fa fa-user"
          %li.profile-wrapper__menu__list-more
            = link_to "", "", class:"fa fa-plus"

      .profile-wrapper__info
        .profile-wrapper__info__title
          マルコの本棚
        .profile-wrapper__info__name
          = @user.nickname
        %ul.profile-wrapper__info__status
          %li
            登録アイテム
            %br
            = link_to "7", ""
          %li
            レビュー
            %br
            = link_to "1", ""
          %li
            レビュー率
            %br
            = link_to "14.3%", ""
          %li
            フレーズ
            %br
            = link_to "1", ""
        .profile-wrapper__info__following
          %span.follow-this-user-btn
            あなたの本棚
          .follow__count
            %a{href:"", class:"following__count__number"}
              1223
              %span
                フォロー
          .follow__count
            %a{href:"", class:"follower__count__number"}
              55556
              %span
                フォロワー
      .setting-sns
        = link_to "",edit_user_path(current_user),class:"fa fa-cog setting-btn"
        %a{href:"",class:"sns_fb-twitter"}
          %li.fa.fa-twitter-square
          %li.fa.fa-facebook-square
          %li シェア

  .bookshelf-header
    %ul.bookshelf-header__menu
      %li.bookshelf-header__menu__filter
        絞り込み
      %li.bookshelf-header__menu__show-filter
        %span
          %i.fa.fa-filter
          %a{href:""}
            = link_to "条件を指定", ""
      %li.bookshelf-header__menu__catagory
        %span
          %i.fa.fa-folder
          %a{href:""}
            = link_to "カテゴリ", ""
      %li.bookshelf-header__menu__tag
        %span
          %i.fa.fa-tag
          %a{href:""}
            = link_to "タグ", ""
      %li.bookshelf-header__menu__search
        %span
          %i.fa.fa-search
            = link_to "本棚内検索", ""
      %li.bookshelf-header__menu__icon__close
        %span
          = link_to "", "", class:"fa fa-times"
      %li.bookshelf-header__menu__icon__table
        %span
          = link_to "", "", class:"fa fa-th"
      %li.bookshelf-header__menu__icon__list
        %span
          = link_to "", "", class:"fa fa-list"
      %li.bookshelf-header__menu__icon__card
        %span
          = link_to "", "", class:"fa fa-align-center"
      %li.bookshelf-header__menu__icon__arrow
        %span
          = link_to "", "", class:"fa fa-arrow-up"

  .bookshelf-wrapper
    .bookshelf-main
      .books-display
      - 3.times do
        .books-display__book
          %span
            %a{href:""}
              = image_tag "books/book.jpg"
        .books-display__book
          %span
            %a{href:""}
              = image_tag "books/book_1.jpg"
        .books-display__book
          %span
            %a{href:""}
              = image_tag "books/book_2.jpg"
        .books-display__book
          %span
            %a{href:""}
              = image_tag "books/book_3.jpg"
