
.footer
  .wrapper
    .footer__wrapper
      .top
        .top__fortune-meetings-with-books
          %h3.footer__title
            本と出会う
          %ul
            %li ランキング
            %li 新刊情報
            %li 新着レビュー
            %li プクログ談話室
            %li プクログまとめ
            %li プクログ特集
            %li プクログ大賞
            %li プクログ通信

        .top__search-books
          %h3.footer__title
            本を探す
          %ul.search-by-keyword-or-tag
            %li キーワード
            %li タグから探す
          %h3.footer__title
            本棚を探す
          %ul.search-from-bookshelves
            %li プロフィールから本棚を探す
            %li ブクログID検索

          %h3.footer__title
            ブクログ
          %ul.applications
            %li iPhone アプリ
            %li その他のブクログアプリ

        .top__official-bookshelf
          %h3.footer__title
            公式本棚
          %ul
            %li ブクログスタッフの本棚
            %li 芥川賞の本棚
            %li 直木賞の本棚
            %li TVドラマ原作本棚
            %li 映画の原作本棚
            %li アニメの原作本棚
            %li.official-bookshelf.section-line プクログ公式本棚一覧
            %li 公式本棚の新着情報
          %h3.footer__title
            ようこそブクログへ
          %ul
            %li プクログについて
            %li 初めての方へ
            %li チュートリアル

        .top__support
          %h3.footer__title
            サポート
          %ul
            %li お知らせプクログ
            %li ヘルプ
            %li お問い合わせ
            %li.section-line 広告掲載について
            %li メディア掲載情報
            %li.section-line 公式 Twitter
            %li Facebookページ
            %li プクロぐ公式グッズ

        .top__banners
          = image_tag "bnr_booklogshop@2x.png", class:"store"
          = image_tag "bnr_bibliobattle200_65@2x.png", class:"biblio-battle"

      .SNS-btns
        = link_to " ツイート", "", class:"fa fa-twitter SNS-btn SNS-btn__twitter"
        = link_to " いいね! 1.6万", "", class:"fa fa-facebook SNS-btn SNS-btn__facebook"
        = link_to "B! ブックマーク", "", class:"SNS-btn SNS-btn__hatena"
    %ul.footer-navi
      %li.service-policy
        利用規約
        |
      %li.about-Cookie-usage
        Cookieの使用について
        |
      %li.about-us
        会社概要
        |
      %li.privacy-policy
        プライバシーポリシー

      %span.copyright-policy Copyright ©︎ 2017 Booklog.inc. All Rights Reserved
