.header
  .booklog-icon
    = image_tag "img_booklog.png"

.account-page__footer
  %ul
    %a
    = link_to "WEB本棚サビースブクログ"
    %a
    |
    = link_to "新規登録"
    %a
    |
    = link_to "ブクログについて"
    %a
    |
    = link_to "ブクログ特集"
    %a
    |
    = link_to "お知らせブログ"
    %a
    |
    = link_to "お問い合わせ"

  %p Copyright © 2017 Booklog,Inc. All Rights Reserved.
