.search-wrapper__result
  = @isbn_list
  .search-wrapper__result-top
    .product-name
      = link_to "テニスクラシックBreak 2017年 12 月号 [雑誌]",""
    %ul
      %li.product-evaluation.product-evaluation__count
        1人が登録
      %li.product-evaluation.product-evaluation__average
        %i.fa.fa-star
        4.00
      %li.product-evaluation.product-evaluation__review
        1レビュー
    .product-info
      %span 雑誌
      %span 2017年11月4日
      %span
        = image_tag "store/amazon-mini.gif"
        Amazon.co.jpで見る
  .search-wrapper__result-image
    = image_tag "karioki2.jpg"
  .search-wrapper__result-register
    = link_to "", "", class:"add-product-btn"
    = link_to "", "", class:"add-product-btn-secretly"
