%ul.review-area
  %li
    .user-icon
      - if review.user.avatar.present?
        = image_tag review.user.avatar,class:"user-image"
      - else
        = image_tag "user-icon.png",class:"user-image"
    .review-area__summary
      .review-area__summary__user-info
        = review.user.nickname
        2017年10月15日
      .review-area__summary__rating
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star
      .review-area__summary__review-text
        %p
          = review.body
      .review-area__summary__reaction
        = link_to do
          = image_tag "btn/like-btn.png",class:"review-area__summary__reaction-like"
        %span.like-count
          23
        = link_to "コメントする", "",class:"review-area__summary__reaction-comment"

