.header
  .global-navi-wrapper
    %ul.global-navi.global-navi__left
      %li.booklog-icon
      %li.global-navi__ranking
        ランキング
      %li.global-navi__release
        新刊情報
      %li.global-navi__quetions
        談話室
      %li.global-navi__matome
        まとめ
    .search.global-navi
      %input.search__input
      .search__search-btn
        %i.fa.fa-search
    %ul.global-navi.global-navi__right
      %li.global-navi__mypage
      %li.global-navi__home
        %i.fa.fa-home
      %li.global-navi__bookshelf
        %i.fa.fa-book
      %li.global-navi__timeline
        %i.fa.fa-clock-o
      %li.global-navi__dropdown-menu-click
        %i.fa.fa-bars
  %ul.info
    %li.icon NEW
    %li.news-text
      = link_to "11月公開映画「ラストレシピ」", "", class:"news-text"

.body
  .wrapper
    .top-page
      = image_tag "bnr_winner2017_970_230.png",class:"booklog-award"
    .middle-page
      %ul.recommend-list
        %li.recommend-list__1
          = image_tag "bb-200.png"
        %li.recommend-list__2
          = image_tag "bnr_200_65.png"
        %li.recommend-list__3
          = image_tag "bnr_bukutsu200_65.png"
        %li.recommend-list__4
          = image_tag "bnr_itengineer2017_200_65.png"

      .middle-page-content
        .middle-page-content__popular-review
          .review-container
            .review-container__image
            .review-container__title
            .review-container__author
            .review-container__review
              .user-info
              .review-text
        .middle-page-content__ranking
          .ranking-container
            .ranking-container__image
            .ranking-container__title
            .ranking-containerg__author
            .ranking-container__evaluation
        .middle-page-content__release
          .release-container
            .release-container__image
            .release-container__title
            .release-container__author
            .release-container__date

        .popular-author
          %h3
            話題の作家
            %ul.hot-author-name
              %li

          %h3
            人気の作家のおすすめ本・新刊情報・電子書籍
            %ul.popular-author-name
              %li

        .advertisement
        .total-amount-of-numbers-about-booklog

.footer
  .wrapper
    .top
      .top__fortune-meetings-with-books
        %h3
          本と出会う
          %ul
            %li ランキング
            %li 新刊情報
            %li 新着レビュー
            %li プクログ談話室
            %li プクログまとめ
            %li プクログ特集
            %li プクログ大賞
            %li プクログ通信

      .top__search-books
        %h3
          本を探す
          %ul.search-by-keyword-or-tag
            %li キーワード
            %li タグから探す
        %h3
          本棚を探す
          %ul.search-from-bookshelves
            %li プロフィールから本棚を探す
            %li ブクログID検索

        %h3
          ブクログ
          %ul.applications
            %li iPhone アプリ
            %li その他のブクログアプリ

      .top__official-bookshelf
        %h3
          公式本棚
          %ul
            %li ブクログスタッフの本棚
            %li 芥川賞の本棚
            %li 直木賞の本棚
            %li TVドラマ原作本棚
            %li 映画の原作本棚
            %li アニメの原作本棚
            %li プクログ公式本棚一覧
            %li 公式本棚の新着情報
        %h3
          ようこそブクログへ
          %ul
            %li プクログについて
            %li 初めての方へ
            %li チュートリアル

      .top__support
        %h3
          サポート
          %ul
            %li お知らせプクログ
            %li ヘルプ
            %li お問い合わせ
            %li 広告掲載について
            %li メディア掲載情報
            %li 公式 Twitter
            %li Facebookページ
            %li プクロぐ公式グッズ

      .top__banners
        .store
        .biblio-battle

    .SNS-btns

  %ul.footer-navi
    %li.service-policy
      利用規約
    %li.about-Cookie-usage
      Cookieの使用について
    %li.about-us
      会社概要
    %li.privacy-policy
      プライバシーポリシー

  .copyright Copyright ©︎ 2017 Booklog.inc. All Rights Reserved
