.body
  %h1 作品登録
  = form_for @product do |f|
    .registration-wrapper
      .registration-form__title-box
        .registration-form__left-content
          .field-label
            = f.label :name, "タイトル", class: "registration-form__label"
        .registration-form__right-content
          .field-label
            = f.text_field :name, placeholder: "タイトルを入力してください", class: "registration-form__input"

      .registration-form__author-box
        .registration-form__left-content
          .field-label
            = f.label :author, "著者", class: "registration-form__label"
        .registration-form__right-content
          .field-label
            = f.text_field :author, placeholder: "著者を入力してください", class: "registration-form__input"

      .registration-form__image-box
        .registration-form__left-content
          .field-label
            = f.label :image, "画像", class: "registration-form__label"
        .registration-form__right-content
          .field-label
            = f.file_field :image, placeholder: "", class: "registration-form"

      .registration-form__publisher-box
        .registration-form__left-content
          .field-label
            = f.label :publisher, "出版社", class: "registration-form__label"
        .registration-form__right-content
          .field-label
            = f.text_field :publisher, placeholder: "出版社を入力してください", class: "registration-form__input"

      .registration-form__release-box
        .registration-form__left-content
          .field-label
            = f.label :release_date, "発売日", class: "registration-form__label"
        .registration-form__right-content
          .field-label
            = f.date_select(:release_date, {}, use_month_numbers: true, class: "release-date")

      .button
        .registration-form
          .field-label
            = f.submit "登録する", class: "registration-form__btn"
