= render 'shared/header'
= render 'shared/flash'

- content_for(:head) do
  %meta{name:"turbolinks-cache-control", content:"no-cache"}

.body
  .wrapper
    %ul.breadcrumbs
      %li.breadcrumbs__home
        = link_to "仮"
      %li.breadcrumbs__home
        = link_to "> 仮"
      %li.breadcrumbs__current-page
        >  仮です

    .wrapper-product-show
      .product-wrapper
        .product-wrapper__title
          = @product.name
        .product-wrapper__left
          = link_to "" do
            = image_tag @product.image,class:"product-wrapper__image"
          = link_to "", "", class:"book-btn"
        .product-wrapper__info
          %ul.product-wrapper__info__status
            %li
              %i.fa.fa-user
              %span 40
              人登録
            %li
              %i.fa.fa-star
              %span 4.50
              評価
            %li
              %i.fa.fa-comment
              %span 40
              人レビュー
          .product-wrapper__info__author
            著者:
            = link_to @product.author,""
          .product-wrapper__info__publisher
            %span.company-name
              = @product.publisher
            %span.release-date
              = @product.release_date.strftime("(%Y年%m月%d日発売)")
          = link_to "" do
            = image_tag "amazon-btn.png",class:"product-wrapper__info__btn-amazon"
          %ul.product-wrapper__info__btn-others
            %li
              = link_to "" do
                = image_tag "btn/honto_logo.png",class:"main-shop-btn"
            %li
              = link_to "" do
                = image_tag "btn/rakuten_logo.png",class:"main-shop-btn"
            %li
              = link_to "" do
                = image_tag "btn/bol_logo.png",class:"main-shop-btn"
            %li
              = link_to "" do
                = image_tag "btn/calil_logo.png",class:"main-shop-btn"
            %li
              = link_to "" do
                = image_tag "btn/other_store.png",class:"other-shop-btn"
        .product-wrapper__more
          .product-wrapper__more__link
            = link_to do
              %i.fa.fa-file-code-o
              サイトに貼り付ける
          .product-wrapper__more__info
            Amazon.co.jp ・本 (192ページ)  / ISBN・EAN: 9784405082168
      .review-wrapper
        .row-title
          この本を読んでいる人は、こんな本も本棚に登録しています。

        .slick_container
          %ul.main-thumb
            %li
              = image_tag "book__review__karioki.jpg"
            %li
              = image_tag "karioki2.jpg"
            %li
              = image_tag "karioki3.jpg"
            %li
              = image_tag "karioki4.jpg"
            %li
              = image_tag "karioki5.jpg"
          #arrows
            .slick-next
              = image_tag "btn/arrow-right-enable.png",class:"customed-btn"
            .slick-prev
              = image_tag "btn/arrow-left-enable.png",class:"customed-btn"

      .review-wrapper
        .row-title
          #{@product.name}の教科書の感想・レビュー・書評

        %ul.review-wrapper__sort-by-rating
          %li
            = link_to "すべてのレビュー"
          %li
            = link_to "評価★5"
          %li
            = link_to "評価★4"
          %li
            = link_to "評価★3"
          %li
            = link_to "評価★2"
          %li
            = link_to "評価★1"

        = render "review"

        %ul.review-more-btns
          %li.review-more-btns-amazon
            = link_to "" do
              = image_tag "btn/btn_read_more_amazon.png",class:"review-more-btn"
          %li.review-more-btns-rakuten
            = link_to "" do
              = image_tag "btn/btn_read_more_rakuten.png",class:"review-more-btn"

        %ul.social-btn-box-area
          %li.social-btn-box-area__list
            = link_to "" do
              = image_tag "btn/btn_tweet_box.png",class:"twitter-btn"
          %li.social-btn-box-area__list.social-btn-box-area__list-facebook
            = link_to "" do
              %span
                15
                = image_tag "btn/FB-like-btn.png",class:"facebook-btn"
            = link_to "" do
              %span
                15
                = image_tag "btn/FB-share-btn.png",class:"facebook-btn"
          %li.social-btn-box-area__list.social-btn-box-area__list-hatena
            = link_to "" do
              %span
                15
                = image_tag "btn/hatena-bookmark-btn.png",class:"hatena-btn"

        .additional-info-area
          %h2.area-title
            作者の名前の作品一覧
          %ul.additional-info-area__book-list.additional-info-area__book-list-left
            %li
              = link_to "サンプルテキスト(ジャンプ・コミックス)", ""
            %li
              = link_to "サンプルテキスト(ジャンプ・コミックス)", ""
            %li
              = link_to "サンプルテキスト(ジャンプ・コミックス)", ""
            %li
              = link_to "サンプルテキスト(ジャンプ・コミックス)", ""
            %li
              = link_to "サンプルテキスト(ジャンプ・コミックス)", ""
            %li
              = link_to "サンプルテキスト(ジャンプ・コミックス)", ""
          %ul.additional-info-area__book-list.additional-info-area__book-list-right
            %li
              = link_to "サンプルテキスト(ジャンプ・コミックス)", ""
            %li
              = link_to "サンプルテキスト(ジャンプ・コミックス)", ""
            %li
              = link_to "サンプルテキスト(ジャンプ・コミックス)", ""
            %li
              = link_to "サンプルテキスト(ジャンプ・コミックス)", ""
            %li
              = link_to "サンプルテキスト(ジャンプ・コミックス)", ""
            %li
              = link_to "サンプルテキスト(ジャンプ・コミックス)", ""
          %p.additional-info-area__link
            = link_to "尾田栄一郎の作品ランキング・新刊情報"

        .additional-info-area
          %h2.area-title
            外部サイトの商品情報・レビュー
          %p.additional-info-area__link
            = link_to "Amazonでレビューを見る"
          %p.additional-info-area__link
            = link_to "カーリルで図書館の貸し出し状況を見る"
          %p.additional-info-area__link
            = link_to "Webcat Plus(国立情報学研究所)で図書情報を見る"

        .user-status-area
          .user-status-area__reading-status-box
            %h2.area-title
              #{@product.name}を本棚に登録しているひと
            %ul.user-status-area__user-row
              %li
                = link_to "users/" do
                  .user-icon
                    = image_tag "user-icon",class:"user-image"
                  .user-text
                    .user-text__name
                      お名前
                    .user-text__rating
                      %i.fa.fa-star-o
                      %i.fa.fa-star-o
                      %i.fa.fa-star-o
                      %i.fa.fa-star-o
                      %i.fa.fa-star-o
                    .user-text__created_at
                      2017年1月2日に登録
              %li
                = link_to "" do
                  .user-icon
                    = image_tag "user-icon",class:"user-image"
                  .user-text
                    .user-text__name
                      お名前
                    .user-text__rating
                      %i.fa.fa-star-o
                      %i.fa.fa-star-o
                      %i.fa.fa-star-o
                      %i.fa.fa-star-o
                      %i.fa.fa-star-o
                    .user-text__created_at
                      2017年1月2日に登録

              %li
                = link_to "users/" do
                  .user-icon
                    = image_tag "user-icon",class:"user-image"
                  .user-text
                    .user-text__name
                      お名前
                    .user-text__rating
                      %i.fa.fa-star-o
                      %i.fa.fa-star-o
                      %i.fa.fa-star-o
                      %i.fa.fa-star-o
                      %i.fa.fa-star-o
                    .user-text__created_at
                      2017年1月2日に登録
          .user-status-area__reading-status-box
            %h2.area-title
              #{@product.name}を「読みたい」で本棚に登録しているひと
              %ul.user-status-area__user-row
                %li
                  = link_to "users/" do
                    .user-icon
                      = image_tag "user-icon",class:"user-image"
                    .user-text
                      .user-text__name
                        お名前
                      .user-text__rating
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                      .user-text__created_at
                        2017年1月2日に登録
                %li
                  = link_to "" do
                    .user-icon
                      = image_tag "user-icon",class:"user-image"
                    .user-text
                      .user-text__name
                        お名前
                      .user-text__rating
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                      .user-text__created_at
                        2017年1月2日に登録

                %li
                  = link_to "users/" do
                    .user-icon
                      = image_tag "user-icon",class:"user-image"
                    .user-text
                      .user-text__name
                        お名前
                      .user-text__rating
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                      .user-text__created_at
                        2017年1月2日に登録
          .user-status-area__reading-status-box
            %h2.area-title
              #{@product.name}を「いま読んでる」で本棚に登録しているひと
              %ul.user-status-area__user-row
                %li
                  = link_to "users/" do
                    .user-icon
                      = image_tag "user-icon",class:"user-image"
                    .user-text
                      .user-text__name
                        お名前
                      .user-text__rating
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                      .user-text__created_at
                        2017年1月2日に登録
                %li
                  = link_to "" do
                    .user-icon
                      = image_tag "user-icon",class:"user-image"
                    .user-text
                      .user-text__name
                        お名前
                      .user-text__rating
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                      .user-text__created_at
                        2017年1月2日に登録
          .user-status-area__reading-status-box
            %h2.area-title
              #{@product.name}を「読み終わった」で本棚に登録しているひと
              %ul.user-status-area__user-row
                %li
                  = link_to "users/" do
                    .user-icon
                      = image_tag "user-icon",class:"user-image"
                    .user-text
                      .user-text__name
                        お名前
                      .user-text__rating
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                      .user-text__created_at
                        2017年1月2日に登録
                %li
                  = link_to "" do
                    .user-icon
                      = image_tag "user-icon",class:"user-image"
                    .user-text
                      .user-text__name
                        お名前
                      .user-text__rating
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                      .user-text__created_at
                        2017年1月2日に登録
          .user-status-area__reading-status-box
            %h2.area-title
              #{@product.name}を「積読」で本棚に登録しているひと
              %ul.user-status-area__user-row
                %li
                  = link_to "users/" do
                    .user-icon
                      = image_tag "user-icon",class:"user-image"
                    .user-text
                      .user-text__name
                        お名前
                      .user-text__rating
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                      .user-text__created_at
                        2017年1月2日に登録
                %li
                  = link_to "" do
                    .user-icon
                      = image_tag "user-icon",class:"user-image"
                    .user-text
                      .user-text__name
                        お名前
                      .user-text__rating
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                        %i.fa.fa-star-o
                      .user-text__created_at
                        2017年1月2日に登録

= render 'shared/footer'
